graft src/plone/rest
include *.rst
exclude *.cfg
exclude *.yml
exclude bootstrap-buildout.py
exclude Makefile
exclude requirements.txt
exclude CODEOWNERS
global-exclude *.pyc
include pyproject.toml
recursive-exclude news *
exclude news
